{{if .ActionResult}}
	{{if eq .ActionResult.ExitCode 0}}
		{{template "header.html" "success"}}
	{{else}}
		{{template "header.html" "danger"}}
	{{end}}
{{else}}
	{{template "header.html" "secondary"}}
{{end}}

<h1 class="my-4">Action</h1>

{{if .Action}}
<table class="table">
	<tr class="d-flex">
		<th class="col-3">Timeout:</th>
		<td class="col-9">{{if .Action.Timeout}}{{.Action.Timeout.Seconds}} seconds{{else}}∞{{end}}</td>
	</tr>
	<tr class="d-flex">
		<th class="col-3">Do not cache:</th>
		<td class="col-9">{{if .Action.DoNotCache}}yes{{else}}no{{end}}</td>
	</tr>
</table>
{{else}}
This action could not be found.
{{end}}

<h2 class="my-4">Command{{if .Action}}<sup><a href="/command/{{.Instance}}/{{.Action.CommandDigest.Hash}}/{{.Action.CommandDigest.SizeBytes}}/">*</a></sup>{{end}}</h2>

{{if .Command}}
{{template "view_command.html" .Command}}
{{else}}
The command of this action could not be found.
{{end}}

<h2 class="my-4">Result</h2>

{{if .ActionResult}}
<table class="table">
	<tr class="d-flex">
		<th class="col-3">Exit code:</th>
		<td class="col-9">{{.ActionResult.ExitCode}}</td>
	</tr>
</table>
{{else}}
The action result of this action could not be found.
{{end}}

<h2 class="my-4">Input files{{if .Action}}<sup><a href="/directory/{{.Instance}}/{{.Action.InputRootDigest.Hash}}/{{.Action.InputRootDigest.SizeBytes}}/">*</a></sup>{{end}}</h2>

{{if .InputRoot}}
{{template "view_directory.html" .InputRoot}}
{{else}}
The input root of this action could not be found.
{{end}}

<h2 class="my-4">Output files</h2>

Foo

{{template "footer.html"}}
